* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,.main {
    height: 100%;
}

body {
    font-family: 'Work Sans', sans-serif;/*'Fauna One', serif;*/
    background-color: lightgrey;
}

h1, h4 {
    font-family: 'Eczar', serif;/*'Sansita', sans-serif;*/
}

h1 {
    text-align: center;
    font-size: 3em;
}

h4 {
    font-size: 1.7em;
/*    padding-bottom: 10px;*/
}

h5 {
    font-size: 1.1em;
    font-style: oblique;
    font-weight: bolder;
}

p {
    font-size: 1.2em;
}

.nav-content a {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

/* Desktop/Laptop Screens */
@media only screen and (min-width :  1000px) {
    #name {
        display: none;
    }

    .parallax {
        background-image: url("landing2alt.png");
    }

    #nav-menu {
        /* W3Schools Sidebar Navigation */
        height: 100%;
        width: 230px;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        background-color: black /*#8ed7ff*/;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-content a {
        padding-left: 70px;
        position: relative;
        color: white;
        font-size: 1.5em;
        padding-bottom: 15px;
        display: block;
    }

/*
    hr {
        margin-left: 15px;
        margin-right: 15px;
    }
*/


    section {
        min-height: 100%;
        vertical-align: middle;

        margin-left: 400px;
        margin-right: 200px;
        padding-top: 50px;
        padding-bottom: 50px;
        position: relative;
    }

    .closebtn {
        display: none;
        /*position: absolute;*/
    }


}


/* iPad/Tablet Screens */
@media only screen and (min-width: 768px) and (max-width: 999px) {
    /* Mostly inherited from W3Schools Navigation: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay */
    #name {
        display: none;
    }

    .parallax {
        background-image: url("landing2alt.png");
    }


    #nav-menu {
        /* W3Schools Sidebar Navigation */
        height: 100%;
        width: 175px;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        padding-right: 15px;
        background-color: black /*#8ed7ff*/;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-content a {
        padding-left: 70px;
        position: relative;
        color: white;
        font-size: 1.5em;
        padding-bottom: 15px;
        display: block;

    }

/*
    hr {
        margin-left: 10px;
        margin-right: 10px;
    }
*/

     #nav-break {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .closebtn {
        display: none;
    }


    /*
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
*/

    section {
        margin-left: 250px;
        margin-right: 150px;
        padding-top: 50px;
        padding-bottom: 50px;
        vertical-align: middle;
        position: relative;

    }

    br {
        padding: 5px;
    }
}


@media only screen and (min-width: 450px) and (max-width: 767px) {
    #name {
        background-color: black;
        color: white;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu {
        position: fixed;
        width: 100%;
        margin: 0;
        margin-left: 20px;
    }

    span h1 {
        margin: 0;
    }

    .parallax {
        background-image: url("landingminialt.png");
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay, .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
    }

    section {
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 30px;
        padding-bottom: 30px;

    }

    .nav-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

}

@media only screen and (min-width: 300px) and (max-width: 449px) {
    #name {
        background-color: black;
        color: white;
        font-size: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu {
        position: fixed;
        width: 100%;
        margin: 0;
        margin-left: 5px;
    }

    span h1 {
        margin: 0;
    }



    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: black;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay, .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 40px;
    }

    section {
        margin-left: 30px;
        margin-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .parallax {
        background-image: url("landingminialt.png");
        padding: 0;
    }

    .nav-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

}

#nav-menu a:hover {
    color: #8ed7ff;
}

#nav-menu a {
    padding: 0px 10px 10px 10px;
    text-decoration: none;
    font-size: 1em;
    color: white;
}

#intro {
    vertical-align: middle;
    top: 0;
}

p {
    padding: 0px;
    margin: 0px;
}

a:link {
    text-decoration: none;
    color: #9135ce;
}

a:visited {
    color: #9135ce;
}

a:hover {
    text-decoration: underline;
}

#nav a:visited {
    color: white;
}

#va-logo {
    width: 70px;
    height: 70px;
}
/* Font Awesome icon styling */
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-left: 45px;
}

i {
    padding-right: 50px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-button {
   color: white;
}

#home-button:hover {
    color: #8ed7ff;
}

/* W3Schools Parallaxing: https://www.w3schools.com/howto/howto_css_parallax.asp */

.parallax {
    height: 550px;

    background-attachment: fixed;
    background-position:bottom;
    background-repeat: no-repeat;
    background-size: cover;

}

#athletics, #wics-img, #a2f-img, #awt-img {
/*    border-radius: 50%;*/
    width: 200px;
    height: 200px;
    margin-bottom: 30px;

    /* to center things */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#app-img {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#ath-items, #app-items, #awt-items {
    padding-top: 50px;
}

.heading-bar {
    margin-bottom: 20px;
    background-color: black;
    height: 2px;
    border: none;
}

#experience, #extracurriculars {
    background-color: #77abff;
}

.icon-descrp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 35px;
}

.icon-descrp ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
}

.icon-descrp li {
    padding-right: 30px;
}

.technologies ul{
    list-style: none;
    display: flex;
    align-items: flex-start;
}

.technologies li{
    padding-right: 20px;
    flex-wrap: wrap;
}

.tech-border {
    background-color: #8b9cb7;
    padding: 5px;
    border-radius: 5px;
}

/* #ath-items h4, #app-items h4 {
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* For creating colums for experience */

/*#ath-items, #app-items {
    float: left;
    width: 50%;
}

#exp-items:after {
    content: "";
    display: table;
    clear: both;
} */




